In [2]:
import pandas as pd
# import raw data
fIn=pd.read_csv("wipdata.csv", encoding= "latin1")
# remove useless columns
keep_col = ["adm0_name", "adm1_name", "mkt_name", "cm_name", "cur_name", "pt_name", "um_id", "um_name", "mp_month", "mp_year", "mp_price"]
# select countries
keep_row = ["Afghanistan", "Iraq", "Iran", "Lebanon", "Palestine", "Pakistan"]
new_f= fIn[keep_col]

In [ ]:
#take data from countries
me1 = new_f.loc[new_f['adm0_name'] == 'Syrian Arab Republic']
me2 = new_f.loc[new_f['adm0_name'] == 'Afghanistan']
me3 = new_f.loc[new_f['adm0_name'] == 'Iraq']
me4 = new_f.loc[new_f['adm0_name'] == 'Lebanon']
me5 = new_f.loc[new_f['adm0_name'] == 'Palestine']
me6 = new_f.loc[new_f['adm0_name'] == 'Pakistan']
me7 = new_f.loc[new_f['adm0_name'] == 'Iran (Islamic Republic of)']
# combine data & add usable months & convert to csv
predata_middle_east = [me1, me2, me3, me4, me5, me6, me7]
data_middle_east = pd.concat(predata_middle_east)
data_middle_east['Year'] = data_middle_east['mp_year'] + ((data_middle_east['mp_month']-1)/12)
data_middle_east.to_csv("Food_prizes_MiddleEast_processed.csv", encoding="utf-8", index=True)
data_middle_east

In [5]:
data_middle_east.describe()

              um_id      mp_month       mp_year      mp_price
count  52767.000000  52767.000000  52767.000000  5.276700e+04
mean      21.401520      6.477628   2014.591373  9.796675e+03
std       25.242796      3.403539      2.628212  1.213539e+05
min        5.000000      1.000000   2000.000000  0.000000e+00
25%        5.000000      4.000000   2014.000000  1.380000e+02
50%        5.000000      6.000000   2015.000000  5.875000e+02
75%       35.000000      9.000000   2016.000000  2.000000e+03
max       87.000000     12.000000   2017.000000  5.833333e+06