In [1]:
import pandas as pd
fIn=pd.read_csv("wipdata.csv", encoding= "latin1")
keep_col = ["adm0_name", "adm1_name", "mkt_name", "cm_name", "cur_name", "pt_name", "um_id", "um_name", "mp_month", "mp_year", "mp_price"]
keep_row = ["Afghanistan", "Iraq", "Iran", "Lebanon", "Palestine", "Pakistan"]
new_f= fIn[keep_col]

In [2]:
new_f
data = new_f.loc[new_f['adm0_name'] == 'Afghanistan']

In [6]:
me1 = new_f.loc[new_f['adm0_name'] == 'Syrian Arab Republic']
me2 = new_f.loc[new_f['adm0_name'] == 'Afghanistan']
me3 = new_f.loc[new_f['adm0_name'] == 'Iraq']
me4 = new_f.loc[new_f['adm0_name'] == 'Lebanon']
me5 = new_f.loc[new_f['adm0_name'] == 'Palestine']
me6 = new_f.loc[new_f['adm0_name'] == 'Pakistan']
me7 = new_f.loc[new_f['adm0_name'] == 'Iran (Islamic Republic of)']

predata_middle_east = [me1, me2, me3, me4, me5, me6, me7]
data_middle_east = pd.concat(predata_middle_east)
#data_middle_east.to_csv("Food_prizes_MiddleEast_processed.csv", encoding="utf-8", index=True)
data_middle_east

,adm0_name,adm1_name,mkt_name,cm_name,cur_name,pt_name,um_id,um_name,mp_month,mp_year,mp_price
636073,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,7,2012,55.0000
636074,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,8,2012,80.0000
636075,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,9,2012,80.0000
636076,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,5,2013,95.0000
636077,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,6,2013,106.2500
636078,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,7,2013,188.0000
636079,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,8,2013,295.0000
636080,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,9,2013,275.0000
636081,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,10,2013,295.0000
636082,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,11,2013,295.0000
636083,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,12,2013,295.0000
636084,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,1,2014,147.0000
636085,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,2,2014,181.2500
636086,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,3,2014,196.6667
636087,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,4,2014,208.3333
636088,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,5,2014,190.0000
636089,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,6,2014,193.7500
636090,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,7,2014,193.7500
636091,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,8,2014,217.5000
636092,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,9,2014,217.5000
636093,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,10,2014,211.2500
636094,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,11,2014,235.0000
636095,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,12,2014,218.0000
636096,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,1,2015,238.0000
636097,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,2,2015,228.0000
636098,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,3,2015,258.0000
636099,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,4,2015,272.5000
636100,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,5,2015,197.0000
636101,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,6,2015,215.0000
636102,Syrian Arab Republic,City-Damascus,Sheikh Sa'ad,Rice,SYP,Retail,5,KG,7,2015,215.0000
...,...,...,...,...,...,...,...,...,...,...,...
471155,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,4,2015,550.0000
471156,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,5,2015,550.0000
471157,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,6,2015,550.0000
471158,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,7,2015,550.0000
471159,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,8,2015,550.0000
471160,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,9,2015,550.0000
471161,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,10,2015,550.0000
471162,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,11,2015,550.0000
471163,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,12,2015,550.0000
471164,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,1,2016,550.0000
471165,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,2,2016,550.0000
471166,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,3,2016,550.0000
471167,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,4,2016,550.0000
471168,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,5,2016,550.0000
471169,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,6,2016,550.0000
471170,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,7,2016,550.0000
471171,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,8,2016,550.0000
471172,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,9,2016,550.0000
471173,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,10,2016,550.0000
471174,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,11,2016,550.0000
471175,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,12,2016,550.0000
471176,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,1,2017,550.0000
471177,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,2,2017,550.0000
471178,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,3,2017,550.0000
471179,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,4,2017,550.0000
471180,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,5,2017,550.0000
471181,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,6,2017,550.0000
471182,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,7,2017,550.0000
471183,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,8,2017,550.0000
471184,Pakistan,Balochistan,Quetta,"Wage (non-qualified labour, non-agricultural)",PKR,Retail,51,Day,9,2017,550.0000

In [5]:
data_middle_east.describe()

              um_id      mp_month       mp_year      mp_price
count  52767.000000  52767.000000  52767.000000  5.276700e+04
mean      21.401520      6.477628   2014.591373  9.796675e+03
std       25.242796      3.403539      2.628212  1.213539e+05
min        5.000000      1.000000   2000.000000  0.000000e+00
25%        5.000000      4.000000   2014.000000  1.380000e+02
50%        5.000000      6.000000   2015.000000  5.875000e+02
75%       35.000000      9.000000   2016.000000  2.000000e+03
max       87.000000     12.000000   2017.000000  5.833333e+06