In [2]:
import pandas as pd
import numpy as np

In [3]:
raw_data = pd.read_csv('Simpele werking pandas.csv')
df = pd.DataFrame(raw_data)

# print alles:
# print(df)

# print specifieke kolommen:
# print(df[['Origin', 'Year']])

# print specifieke rijen:
# print(df[1:11])

# print specifieke rijen van een kolom:
df.loc[df['Territory_of_asylum'] == 'Belgium']

c:\users\boble\appdata\local\programs\python\python36-32\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Territory_of_asylum,Origin,Year,Month,Value
1364,Belgium,Afghanistan,1999,January,9
1365,Belgium,Afghanistan,1999,February,13
1366,Belgium,Afghanistan,1999,March,20
1367,Belgium,Afghanistan,1999,April,20
1368,Belgium,Afghanistan,1999,May,17
1369,Belgium,Afghanistan,1999,June,15
1370,Belgium,Afghanistan,1999,July,30
1371,Belgium,Afghanistan,1999,August,43
1372,Belgium,Afghanistan,1999,September,42
1373,Belgium,Afghanistan,1999,October,68
1374,Belgium,Afghanistan,1999,November,63
1375,Belgium,Afghanistan,1999,December,61
1376,Belgium,Albania,1999,January,75
1377,Belgium,Albania,1999,February,55
1378,Belgium,Albania,1999,March,57
1379,Belgium,Albania,1999,April,64
1380,Belgium,Albania,1999,May,42
1381,Belgium,Albania,1999,June,53
1382,Belgium,Albania,1999,July,53
1383,Belgium,Albania,1999,August,81
1384,Belgium,Albania,1999,September,98
1385,Belgium,Albania,1999,October,109
1386,Belgium,Albania,1999,November,113
1387,Belgium,Albania,1999,December,210
1388,Belgium,Algeria,1999,January,24
1389,Belgium,Algeria,1999,February,26
1390,Belgium,Algeria,1999,March,32
1391,Belgium,Algeria,1999,April,28
1392,Belgium,Algeria,1999,May,24
1393,Belgium,Algeria,1999,June,27
...,...,...,...,...,...
308053,Belgium,Venezuela (Bolivarian Republic of),2016,June,*
308054,Belgium,Venezuela (Bolivarian Republic of),2016,July,*
308055,Belgium,Venezuela (Bolivarian Republic of),2016,August,5
308056,Belgium,Venezuela (Bolivarian Republic of),2016,October,*
308057,Belgium,Venezuela (Bolivarian Republic of),2016,November,15
308058,Belgium,Venezuela (Bolivarian Republic of),2016,December,*
308059,Belgium,Venezuela (Bolivarian Republic of),2017,January,*
308060,Belgium,Venezuela (Bolivarian Republic of),2017,February,*
308061,Belgium,Venezuela (Bolivarian Republic of),2017,March,9
308062,Belgium,Venezuela (Bolivarian Republic of),2017,April,*
308063,Belgium,Venezuela (Bolivarian Republic of),2017,May,9
308064,Belgium,Viet Nam,2017,February,*
308065,Belgium,Viet Nam,2017,March,*
308066,Belgium,Viet Nam,2017,May,8
308067,Belgium,Yemen,2016,January,5
308068,Belgium,Yemen,2016,February,*
308069,Belgium,Yemen,2016,April,*
308070,Belgium,Yemen,2016,June,*
308071,Belgium,Yemen,2016,July,*
308072,Belgium,Yemen,2016,August,*
308073,Belgium,Yemen,2016,September,*
308074,Belgium,Yemen,2016,October,*
308075,Belgium,Yemen,2016,November,5
308076,Belgium,Yemen,2017,March,*
308077,Belgium,Yemen,2017,May,9
308078,Belgium,Zambia,2017,March,*
308079,Belgium,Zimbabwe,2016,March,*
308080,Belgium,Zimbabwe,2016,June,*
308081,Belgium,Zimbabwe,2016,October,*
308082,Belgium,Zimbabwe,2017,May,*