In [58]:
import pandas as pd

pr = pd.read_excel('pr_1991_2015_afg.xls', usecols = [0])
tas = pd.read_excel('tas_1991_2015_afg.xls')
dataframe = pd.read_excel('tas_1991_2015_afg.xls')

dataframe['pr'] = pr

#pr.to_excel(dataframe, columns=None, startrow=1)
#pr.to_excel(writer, 'tas_1991_2015_afg.xls')

## DataFrame.insert(loc, column, value, allow_duplicates=False)

print(dataframe)

          tas  \tYear   Month  Country   ISO3   ISO2         pr
0     0.18512    1991       1      AFG    NaN    NaN   71.06060
1     1.59968    1991       2      AFG    NaN    NaN   56.52350
2     6.95549    1991       3      AFG    NaN    NaN  128.24400
3    13.24830    1991       4      AFG    NaN    NaN   42.55550
4    17.41990    1991       5      AFG    NaN    NaN   62.58580
5    23.20400    1991       6      AFG    NaN    NaN    5.95879
6    25.61840    1991       7      AFG    NaN    NaN    3.55534
7    24.21170    1991       8      AFG    NaN    NaN    2.75255
8    19.74910    1991       9      AFG    NaN    NaN   16.36680
9    13.10750    1991      10      AFG    NaN    NaN    3.00116
10    7.53112    1991      11      AFG    NaN    NaN   13.50850
11    4.58609    1991      12      AFG    NaN    NaN   37.06490
12    1.06128    1992       1      AFG    NaN    NaN   63.38110
13    2.87123    1992       2      AFG    NaN    NaN   48.96740
14    5.65829    1992       3      AFG    NaN    NaN   60.15770
15   11.82290    1992       4      AFG    NaN    NaN  109.62100
16   15.96690    1992       5      AFG    NaN    NaN   26.20530
17   22.80830    1992       6      AFG    NaN    NaN   10.61980
18   24.77310    1992       7      AFG    NaN    NaN   11.69940
19   22.80720    1992       8      AFG    NaN    NaN   13.73730
20   18.18520    1992       9      AFG    NaN    NaN    3.98976
21   12.66750    1992      10      AFG    NaN    NaN   24.42310
22    8.73774    1992      11      AFG    NaN    NaN    8.53067
23    4.51103    1992      12      AFG    NaN    NaN   50.15850
24   -0.13810    1993       1      AFG    NaN    NaN   55.79930
25    4.30965    1993       2      AFG    NaN    NaN   43.89400
26    6.21585    1993       3      AFG    NaN    NaN   64.94530
27   13.45600    1993       4      AFG    NaN    NaN   40.83510
28   18.50450    1993       5      AFG    NaN    NaN   38.88070
29   22.89000    1993       6      AFG    NaN    NaN   10.49900
..        ...     ...     ...      ...    ...    ...        ...
270  26.70070    2013       7      AFG    NaN    NaN    8.90758
271  24.65560    2013       8      AFG    NaN    NaN   16.28300
272  21.93390    2013       9      AFG    NaN    NaN    2.66595
273  15.49360    2013      10      AFG    NaN    NaN   29.28090
274   8.05435    2013      11      AFG    NaN    NaN   27.93520
275   2.65949    2013      12      AFG    NaN    NaN   13.85180
276   2.43597    2014       1      AFG    NaN    NaN   18.33390
277  -0.49780    2014       2      AFG    NaN    NaN   44.45470
278   8.22655    2014       3      AFG    NaN    NaN   81.44020
279  14.20590    2014       4      AFG    NaN    NaN   43.92960
280  19.65760    2014       5      AFG    NaN    NaN   23.07960
281  25.05510    2014       6      AFG    NaN    NaN    5.29571
282  26.42710    2014       7      AFG    NaN    NaN    6.68830
283  25.24230    2014       8      AFG    NaN    NaN    7.99786
284  22.03750    2014       9      AFG    NaN    NaN    4.65478
285  14.94820    2014      10      AFG    NaN    NaN   15.25470
286   7.19898    2014      11      AFG    NaN    NaN   39.65920
287   2.65858    2014      12      AFG    NaN    NaN    6.30431
288   2.30960    2015       1      AFG    NaN    NaN   33.64050
289   3.69264    2015       2      AFG    NaN    NaN   86.57180
290   7.18250    2015       3      AFG    NaN    NaN   76.28400
291  14.74440    2015       4      AFG    NaN    NaN   42.89010
292  19.45040    2015       5      AFG    NaN    NaN   24.00030
293  25.80640    2015       6      AFG    NaN    NaN    5.02413
294  26.48330    2015       7      AFG    NaN    NaN   11.08960
295  24.34670    2015       8      AFG    NaN    NaN   15.10870
296  19.29120    2015       9      AFG    NaN    NaN    9.13492
297  15.35650    2015      10      AFG    NaN    NaN   22.47090
298   7.73365    2015      11      AFG    NaN    NaN   42.91700
299   2.88471    2015      12      AFG    NaN    NaN   19.04430

[300 rows x 7 columns]